In [2]:
from dotenv import load_dotenv
import os
import pandas as pd
import json

In [3]:
# Memuat variabel lingkungan dari file .env
load_dotenv()

# Mengakses variabel lingkungan yang diatur dalam file .env
project_path = os.getenv("PROJECT_FOLDER")
dataset_folder = 'data/raw_data/trip_advisor'

In [4]:
# List of dataset files
files = [
    f"{project_path}/{dataset_folder}/json/balikpapan_hotels.json",
    f"{project_path}/{dataset_folder}/json/berau_hotels.json",
    f"{project_path}/{dataset_folder}/json/bontang_hotels.json",
    f"{project_path}/{dataset_folder}/json/kutai_hotels.json",
    f"{project_path}/{dataset_folder}/json/paser_hotels.json",
    f"{project_path}/{dataset_folder}/json/penajam_hotels.json",
    f"{project_path}/{dataset_folder}/json/samarinda_hotels.json",
]

# Read and concatenate all datasets into a single DataFrame
dfs = []
for file in files:
    with open(file, encoding='utf-8') as json_file:
        data = json.load(json_file)
        df = pd.DataFrame(data)
        dfs.append(df)

df = pd.concat(dfs)

In [5]:
df.shape

(251, 27)

In [6]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 251 entries, 0 to 85
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     251 non-null    object
 1   type                   251 non-null    object
 2   name                   251 non-null    object
 3   image                  161 non-null    object
 4   awards                 251 non-null    object
 5   rankingPosition        112 non-null    object
 6   priceLevel             135 non-null    object
 7   priceRange             136 non-null    object
 8   category               251 non-null    object
 9   rating                 112 non-null    float64
 10  hotelClass             251 non-null    object
 11  hotelClassAttribution  86 non-null     object
 12  phone                  125 non-null    object
 13  address                251 non-null    object
 14  email                  94 non-null     object
 15  amenities              251 non-null    object
 16  numberOfRooms          132 non-null    float64
 17  prices                 251 non-null    object
 18  latitude               232 non-null    object
 19  longitude              232 non-null    object
 20  webUrl                 251 non-null    object
 21  website                165 non-null    object
 22  rankingString          112 non-null    object
 23  rankingDenominator     112 non-null    object
 24  numberOfReviews        251 non-null    int64
 25  reviews                251 non-null    object
 26  reviewTags             251 non-null    object
dtypes: float64(2), int64(1), object(24)
memory usage: 54.9+ KB

In [8]:
pd.set_option('display.max_columns', None)
df.head()

,id,type,name,image,awards,rankingPosition,priceLevel,priceRange,category,rating,hotelClass,hotelClassAttribution,phone,address,email,amenities,numberOfRooms,prices,latitude,longitude,webUrl,website,rankingString,rankingDenominator,numberOfReviews,reviews,reviewTags
0,3853695,HOTEL,favehotel MT. Haryono,https://media-cdn.tripadvisor.com/media/photo-...,[],5,$,$28 - $30,hotel,4.0,0.0,None,+62 542 7585999,"Jl. MT. Haryono no. 78 Daerah DAM, Belakang Ha...",Balikpapaninfo@favehotels.com,[],112.0,[],-1.266061,116.85731,https://www.tripadvisor.com/Hotel_Review-g3171...,https://www.favehotels.com/en/hotel/view/38/fa...,#5 of 122 hotels in Balikpapan,122,351,"[{'id': '762363404', 'lang': 'en', 'location_i...",[]
1,1953153,HOTEL,Grand Jatra Hotel Balikpapan,https://media-cdn.tripadvisor.com/media/photo-...,[],7,$,$61 - $75,hotel,4.0,4.0,This property is classified according to Giata.,+62 542 7213888,Jl. Jenderal Sudirman no. 47 Balikpapan Superb...,reservation@jatrahotelbalikpapan.com,[],215.0,[],-1.273157,116.8594,https://www.tripadvisor.com/Hotel_Review-g3171...,http://www.jatrahotels.com/grandjatra-balikpapan/,#7 of 122 hotels in Balikpapan,122,416,"[{'id': '887821772', 'lang': 'en', 'location_i...","[{'text': 'location is great', 'review_count':..."
2,1746523,HOTEL,Blue Sky Hotel Balikpapan,https://media-cdn.tripadvisor.com/media/photo-...,[],3,$,$38 - $46,hotel,4.0,4.0,This property is classified according to Giata.,01162542735845,"Jl. Letjen Suprapto No. 1, Balikpapan 76113 In...",info@blueskygroups.com,[],170.0,[],-1.240827,116.82818,https://www.tripadvisor.com/Hotel_Review-g3171...,https://www.blue-sky.co.id/,#3 of 122 hotels in Balikpapan,122,221,"[{'id': '875924587', 'lang': 'en', 'location_i...","[{'text': 'mantau', 'review_count': 10}, {'tex..."
3,11911745,HOTEL,Hotel Neo+ Balikpapan,https://media-cdn.tripadvisor.com/media/photo-...,[],9,$,$32 - $39,hotel,4.0,3.0,This property is classified according to Giata.,+62 542 8515000,"Jl. Mayjen Sutoyo no. 67, Balikpapan 76122 Ind...",balikpapaninfo@neohotels.com,[],101.0,[],-1.262808,116.84035,https://www.tripadvisor.com/Hotel_Review-g3171...,http://www.neohotels.com/en/location/overview/...,#9 of 122 hotels in Balikpapan,122,102,"[{'id': '883862513', 'lang': 'en', 'location_i...","[{'text': 'clean hotel', 'review_count': 3}, {..."
4,634383,HOTEL,Novotel Balikpapan,https://media-cdn.tripadvisor.com/media/photo-...,[],6,$,$45 - $51,hotel,3.5,5.0,This property is classified according to Accor...,+62 542 733111,"Jl. Brigjen Eri Suparjan no. 2, Balikpapan 761...",reservation@novotelbalikpapan.com,[],198.0,[],-1.275863,116.83478,https://www.tripadvisor.com/Hotel_Review-g3171...,http://www.accorhotels.com/gb/hotel-6445-novot...,#6 of 122 hotels in Balikpapan,122,633,"[{'id': '887891858', 'lang': 'en', 'location_i...","[{'text': 'business meeting', 'review_count': ..."

In [9]:
# Create a new dataframe with selected columns
new_df = df[['id', 'name','rating', 'hotelClass', 'address', 'latitude', 'longitude', 'phone', 'numberOfRooms', 'website','image']]

In [10]:
# Rename the columns to match the desired names
new_df.columns = ['original_id', 'hotel_name','rating', 'hotel_class', 'address', 'latitude', 'longitude', 'contact_number', 'number_of_rooms', 'website','image']

In [11]:
# Extract the city from the address column
new_df['city'] = new_df['address'].apply(lambda x: x.split(',')[-1].strip() if not x.split(',')[-1].strip().isdigit() else x.split(',')[-2].strip())
new_df['city'] = new_df['city'].apply(lambda x: x.split(' ')[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_5852\4187621672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['city'] = new_df['address'].apply(lambda x: x.split(',')[-1].strip() if not x.split(',')[-1].strip().isdigit() else x.split(',')[-2].strip())
C:\Users\HP\AppData\Local\Temp\ipykernel_5852\4187621672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['city'] = new_df['city'].apply(lambda x: x.split(' ')[0])

In [12]:
# Set min_price and max_price columns to 0
new_df['min_price'] = 0
new_df['max_price'] = 0

C:\Users\HP\AppData\Local\Temp\ipykernel_5852\1635972983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['min_price'] = 0
C:\Users\HP\AppData\Local\Temp\ipykernel_5852\1635972983.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['max_price'] = 0

In [13]:
# Display the new dataframe
new_df.head()

,original_id,hotel_name,rating,hotel_class,address,latitude,longitude,contact_number,number_of_rooms,website,image,city,min_price,max_price
0,3853695,favehotel MT. Haryono,4.0,0.0,"Jl. MT. Haryono no. 78 Daerah DAM, Belakang Ha...",-1.266061,116.85731,+62 542 7585999,112.0,https://www.favehotels.com/en/hotel/view/38/fa...,https://media-cdn.tripadvisor.com/media/photo-...,Balikpapan,0,0
1,1953153,Grand Jatra Hotel Balikpapan,4.0,4.0,Jl. Jenderal Sudirman no. 47 Balikpapan Superb...,-1.273157,116.8594,+62 542 7213888,215.0,http://www.jatrahotels.com/grandjatra-balikpapan/,https://media-cdn.tripadvisor.com/media/photo-...,Balikpapan,0,0
2,1746523,Blue Sky Hotel Balikpapan,4.0,4.0,"Jl. Letjen Suprapto No. 1, Balikpapan 76113 In...",-1.240827,116.82818,01162542735845,170.0,https://www.blue-sky.co.id/,https://media-cdn.tripadvisor.com/media/photo-...,Balikpapan,0,0
3,11911745,Hotel Neo+ Balikpapan,4.0,3.0,"Jl. Mayjen Sutoyo no. 67, Balikpapan 76122 Ind...",-1.262808,116.84035,+62 542 8515000,101.0,http://www.neohotels.com/en/location/overview/...,https://media-cdn.tripadvisor.com/media/photo-...,Balikpapan,0,0
4,634383,Novotel Balikpapan,3.5,5.0,"Jl. Brigjen Eri Suparjan no. 2, Balikpapan 761...",-1.275863,116.83478,+62 542 733111,198.0,http://www.accorhotels.com/gb/hotel-6445-novot...,https://media-cdn.tripadvisor.com/media/photo-...,Balikpapan,0,0

In [14]:
# Reset the index of the new dataframe
new_df.reset_index(drop=True, inplace=True)

In [15]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   original_id      251 non-null    object
 1   hotel_name       251 non-null    object
 2   rating           112 non-null    float64
 3   hotel_class      251 non-null    object
 4   address          251 non-null    object
 5   latitude         232 non-null    object
 6   longitude        232 non-null    object
 7   contact_number   125 non-null    object
 8   number_of_rooms  132 non-null    float64
 9   website          165 non-null    object
 10  image            161 non-null    object
 11  city             251 non-null    object
 12  min_price        251 non-null    int64
 13  max_price        251 non-null    int64
dtypes: float64(2), int64(2), object(10)
memory usage: 27.6+ KB

In [16]:
# Drop rows with null values in latitude or longitude columns
new_df = new_df.dropna(subset=['latitude', 'longitude'])

In [17]:
# Calculate the average rating
average_rating = new_df['rating'].mean()

# Replace null values with the average rating
new_df['rating'].fillna(average_rating, inplace=True)

In [18]:
# Calculate the average number of rooms
average_number_of_rooms = new_df['number_of_rooms'].mean()

# Round the average number of rooms and convert it to float
average_number_of_rooms = round(average_number_of_rooms)
average_number_of_rooms = float(average_number_of_rooms)

# Replace null values with the average number of rooms
new_df['number_of_rooms'].fillna(average_number_of_rooms, inplace=True)

In [19]:
# Update values in the 'city' column
new_df.loc[new_df['city'] == 'Tanah', 'city'] = 'Penajam'
new_df.loc[new_df['city'] == 'Kutai', 'city'] = 'Kutai Kertanegara'

In [20]:
# Print the unique categories in the 'city' column
categories = new_df['city'].unique()
print(categories)

['Balikpapan' 'Berau' 'Bontang' 'Kutai Kertanegara' 'Penajam' 'Samarinda']

In [21]:
new_df.describe()

           rating  number_of_rooms  min_price  max_price
count  232.000000       232.000000      232.0      232.0
mean     3.604762        72.939655        0.0        0.0
std      0.525734        46.520635        0.0        0.0
min      2.000000         5.000000        0.0        0.0
25%      3.500000        45.000000        0.0        0.0
50%      3.604762        73.000000        0.0        0.0
75%      3.604762        73.000000        0.0        0.0
max      5.000000       300.000000        0.0        0.0

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 232 entries, 0 to 250
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   original_id      232 non-null    object
 1   hotel_name       232 non-null    object
 2   rating           232 non-null    float64
 3   hotel_class      232 non-null    object
 4   address          232 non-null    object
 5   latitude         232 non-null    object
 6   longitude        232 non-null    object
 7   contact_number   115 non-null    object
 8   number_of_rooms  232 non-null    float64
 9   website          158 non-null    object
 10  image            155 non-null    object
 11  city             232 non-null    object
 12  min_price        232 non-null    int64
 13  max_price        232 non-null    int64
dtypes: float64(2), int64(2), object(10)
memory usage: 35.3+ KB

In [ ]:
new_df.to_json(f"{project_path}/data/processed_data/json/hotel.json", orient='records')